a,h1,h2,h3,h4,h5,h6,p,span,ul,li{font-family:  Calibri;}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #605dba;
  border-radius: 50px;
}

body {
    margin: 0;
    padding: 0;
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: #605dba;
  border:1px solid #605dba;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

/*-------------------------------NAVIGATION---START-------------------------*/

.navbar-nav{
  font-size: 1.2rem;
}

.sign_up {
    background: #605dba;
    margin: 0 0 0 3rem;
    transition: ease-in-out .3s;
}

.sign_up:hover{
  translate: 0 -.2rem;
    box-shadow: 0px 0px 12px #605dba;
}

.sign_in {
  background: #605dba;
  margin: 0 0 0 .5rem;
  transition: ease-in-out .3s;
}

.sign_in:hover{
  translate: 0 -.2rem;
  box-shadow: 0px 0px 12px #605dba;
}

.custom-tooltip {
  background-color: #605dba!important;
}

/*-------------------------------NAVIGATION---END-------------------------*/

/*-------------------------------BANNER---START-------------------------*/
.try_it {
  color: #605dba;
  border: 2px solid #605dba;
  transition: ease-in-out .4s;
}

.try_it:hover {
  background-color: #605dba;
  color: #fff;
  translate: 0 -.2rem;
  box-shadow: 0px 0px 12px #605dba;
}


.banner {
    background-color: #f0f0f8;
    margin-top: 4.1rem;
    position: relative;
    height: 90vh;
}

.grow {
    color: #605dba;
}

.explore {
  color: #605dba;
  border: 2px solid #605dba;
  transition: ease-in-out .4s;
}

.explore:hover {
    background-color: #605dba;
    color: #fff;
    box-shadow: 0px 0px 12px #605dba;
    translate: 0 -.2rem;
}

.bars {
  animation: myBar linear 3s infinite;
  transform-origin: bottom;
  transform-box: fill-box;
  
}

@keyframes myBar {
  0% {
                
    scale: .5;
}
50%{
    
    scale: 1;
}

100% {
    scale: .5;
}
}

.box_main {
  animation: mybox linear 3s infinite;
  transform-origin: bottom;
  transform-box: fill-box;
  
}

@keyframes mybox {
  0% {
    translate: 0 -.8rem;           
    
}
50%{
  translate: 0 .5rem;
   
}

100% {
  translate: 0 -.8rem;
    
}
}

.box_main2{
  animation: myboxsecond linear 3s infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes myboxsecond {
  0%{
    translate: 0 1rem;
    
}
50% {
    translate: 0 -.4rem;
    
}
100% {
  translate: 0 1rem;
  
}
}


.custom-shape-divider-bottom-1688901088 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1688901088 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 85px;
}

.custom-shape-divider-bottom-1688901088 .shape-fill {
  fill: #FFFFFF;
}

/*-------------------------------BANNER---END-------------------------*/


/*-------------------------------WHAT--WE--DO---START-------------------------*/

.what_we_do {
  color: #605dba;
}

.inject {
 width: 3rem;
 height: 3rem;
 fill: #605dba;
}

.learn {
  color: #605dba;
}

.barb_arrow {
  font-weight: bold;
  font-size: 15px;
  margin: .4rem 0 0 .1rem;
}

.hover{
  width: 100%;
  cursor: pointer;
}
/*-------------------------------WHAT--WE--DO---END-------------------------*/


/*-------------------------------WHY--CHOOSE--US---START-------------------------*/

.scale {
  animation: myscale linear 3s infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes myscale {
  0% {
   translate: 1rem 0;          
    
}
50%{
  translate: -1rem 0; 
   
}

100% {
  translate: 1rem 0; 
    
}
}

.blink {
  animation: blinkcircle linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes blinkcircle {
  0% { 
    translate:0 .6rem; 
  } 
  50% {
  translate:0 -.8rem;
  } 

100% {
  translate:0 .6rem;
  } 
}

.blink2 {
  animation: blinkcirclesecond linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes blinkcirclesecond {
  0% { 
    translate:0 -.6rem; 
  } 
  50% {
  translate:0 .8rem;
  } 

100% {
  translate:0 -.6rem;
  } 
}

.circle_animate {
  animation: mycircleanimate linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes mycircleanimate {
  0% {
    translate: -.6rem 0;
  }
  50% {
    translate: .6rem 0;
  }
  100% {
    translate: -.6rem 0;
  }
}

.icon_color {
  color: #605dba;
  font-size: 3rem;
}

.icon_animation {
  animation: myicon linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes myicon {
  0% {
    translate: 0 -.2rem;
  }
  50% {
    translate: 0 .2rem;
  }
  100% {
    translate: 0 -.2rem;
  }
}

.icon_animation2 {
  animation: mysecondicon linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes mysecondicon {
  0% {
    translate: 0 .2rem;
  }
  50% {
    translate: 0 -.2rem;
  }
  100% {
    translate: 0 .2rem;
  }
}


/*-------------------------------WHY--CHOOSE--US---END-------------------------*/



/*-------------------------------OUR--SOLUTIONS----START-------------------------*/

.star_color {
  color: #fcc032;
}

.flower {
  animation: myanimatedflower 3s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes myanimatedflower {
  0% {
      
      scale: .7;
  }
  50%{
      
      scale: 1;
  }

  100% {
      scale: .7;
  }
}

.flower2 {
  animation: mysecondflower 3s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes mysecondflower {
  0% {
      
      scale: 1;
  }
  50%{
      
      scale: .7;
  }

  100% {
      scale: 1;
  }
}

.apple {
  animation: myapple linear 3s infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes myapple {
  0% {
    translate: 0 -2rem;
  }
  50% {
    translate: 0 .8rem;
  }
  100% {
    translate: 0 -2rem;
  }
}

/*-------------------------------OUR--SOLUTIONS-----END-------------------------*/


/*--------------------------HAPPY---CUSTOMERS---START--------------------------*/

.clip_image {
  width: 300px;
  height: 300px;
  background: url(images/blob_img.jpg) no-repeat center center;
  background-size: cover;
  animation: animateblob 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animateblob {
  0% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    50% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
}

.carousel-control-prev-icon {
  background-image: none!important;
}

.prev_icon {
  color: #0c0c16;
}

.next_icon {
  color: #0c0c16;
}


/*--------------------------HAPPY---CUSTOMERS---END--------------------------*/



/*--------------------------OUR---PRICING---START--------------------------*/

/* .switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.7rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  margin: .1rem .6rem 0 .5rem;
  transition: all linear .2s;
}

.switch::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4.2px;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #fff;
  transition: all linear .2s;
}

input[type="checkbox"]:checked + .switch:after{
  translate: 1.3rem 0;
}

input[type="checkbox"]:checked + .switch{
  background-color: #605dba;
} */

.pricing_padding {
  padding: 2rem 1rem 2.5rem 1rem;
  
}

.fontawesomeicon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.ul_margin {
  margin: 0 0 2rem 3.5rem;
}

.ul_margin li::marker {
  font: var(--fa-font-solid);
  content: "\f00c";
  color: #605dba;
  font-size: 1.2rem;
  padding-left: 3px;
}

.ul_margin li:hover {
  cursor: pointer;
}

.choose_plan {
  color: #fff;
  background-color: #605dba;
  transition: ease-in-out .3s;
  margin: 0 0 0 4.3rem;
}

.choose_plan:hover {
  translate: 0 -.5rem;
  transform: scale(1.1);
}


.check_icon {
 font-size: 1.5rem;
 margin: .2rem .2rem 0 0;
}

.check_icon:hover {
  cursor: pointer;
 }


/*--------------------------OUR---PRICING---END--------------------------*/



/*--------------------------LETS---TALK---START--------------------------*/

.progress_bar {
  animation: myprogressbar 3s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes myprogressbar {
  0% {
    translate: 0 -.5rem;
  }
  50% {
    translate: 0 .4rem;
  }
  100% {
    translate: 0 -.5rem;
  }
}

.progress_bar2 {
  animation: myprogressbar2 3s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 1s;
}

@keyframes myprogressbar2 {
  0% {
    translate: 0 -.5rem;
  }
  50% {
    translate: 0 .4rem;
  }
  100% {
    translate: 0 -.5rem;
  }
}

/*--------------------------LETS---TALK---END--------------------------*/



/*--------------------------ANALYZE----START--------------------------*/

.analyze_banner {
  background-color: #f0f0f8;
}

.box form .inputbox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box form .inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #fff;
  letter-spacing: .05rem;
  font-size: 1rem;
  transition: .5s;
  z-index: 10;
}

.box form .inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 1px 10px;
  pointer-events: none;
  color: #343f52;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: .05rem;
  transition: .5s;
}

.box form .inputbox input:valid ~ span, 
.box form .inputbox input:focus ~ span
{
  color: #605dba;
  font-size: .75rem;
  transform: translateY(-37px);
} 

.box form .inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #605dba;
  overflow: hidden;
  transition: .5s;
  pointer-events: none;
}

.box form .inputbox input:valid ~ i, 
.box form .inputbox input:focus ~ i {
  height: 50px;
}

.input_margin {
  margin: 0 0 0 12rem;
}

.analyze_button {
  color: #605dba;
  background-color: #fff;
  margin: 39px 6.6rem 50px 0;
  transition: ease-in-out .4s;
  border: 2px solid #605dba;
  
}

.analyze_button:hover {
  box-shadow: 0 0 10px #605dba;
}

/*--------------------------ANALYZE----END--------------------------*/



/*--------------------------FOOTER----START--------------------------*/

.phone_icon {
  color: #605dba;
}

.iconify_hover {
  transition: ease-in-out .3s;
}

.iconify_hover:hover {
  translate: 0 -.3rem;
  color: #605dba;
}

.to_top_button {
  font-size: 3rem;
  transition: ease-in-out .6s;
}

.to_top_button:hover {
transform: scale(1.1);
color: #343f52;
}

/*--------------------------FOOTER----END--------------------------*/




@media screen and (max-width: 600px){
  
  .padding_bottom {
    padding-bottom: 1.5rem;
  }
  
  .sign_up {
      margin: 1rem 0 0 0rem;
      float: left;
      width: 100%;
    }

    .sign_in {
      margin: 1rem 0 0 0rem;
      float: left;
      width: 100%;
    }

    .banner {
      height: 92%;
    }

     /* .custom-shape-divider-bottom-1688899336 svg {
      height: 50px;
    } */

    .custom-shape-divider-bottom-1688901088 svg {
      height: 50px;
    }

    .text_align {
      text-align: center;
      margin-top: 3rem;
    }

    .freelancer_img {
      height: 100%;
      margin: 3rem 0 0 0;
    }

     .carousel-control-next, .carousel-control-prev {
      position: inherit!important;
      display: initial!important;
    }

    .pricing_padding {
      padding-bottom: 4.5rem;
    }

    .ul_margin {
      margin-left: 5.3rem;
    }

    .choose_plan {
      margin-left: 6.3rem;
    }

    .analyze_button {
      width: 92%;
      margin: 7% 0 0 3%;
      border-radius: 5px!important;
    }

    .input_margin {
      margin: 0 0 0 3%;
    }

    .to_top_button {
      float: left;
      margin: 3% 0 0 45%;
    }


    /*-----------------CURSOR------HIDE-------------*/

    #cursor {
      display: none;
    }
    #cursor-border {
      display: none;
    }
} 

/*-----------------------------LOADING--SCREEN---------------------------------*/

.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #605dba;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(100vh - 68vh);
  left: calc(48vw - 75px);
  
}

.loader:before, .loader:after {
  content: '';
  border: 1rem solid #fff;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: .5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;  
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* #pre_loader {
  background: #605dba url(images/double_ring.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
} */
